*~
*.pyc

*.aux
*.bak
*.dvi
*.out
*.tdo
*.toc
*.synctex.gz

*secret*

.idea/
.python-version
__pycache__/
submission/
MNIST_data/
data/mnist/

.directory
data/
latex/
matlab_old/
matlab_backup/
tensorboard/
plots/
papers/
logs/
